<!-- <h1>My Angular App</h1> -->
<!-- <authors>My Angular</authors>
<courses>Submit :</courses>
<br>
<input type="text" [(ngModel)]="title">
{{ title | titleCase }}
<br>
<br>
<button class="btn btn-success" onClick="">Submit</button>
<br> -->
<!-- <span class="glyphicon glyphicon-star" style = "color: coral;"></span>
<span class="glyphicon glyphicon-star-empty" style = "color: coral;"></span> -->
<!-- <span class="glyphicon"
[class.glyphicon-star]="isFavorite"
[class.glyphicon-star-empty]="!isFavorite" style = "color: coral" (click)="onClick()"
></span>
<br>
<br>
<like
    [likesCount]="tweet.likesCount"
    [isActive]="tweet.isLiked"
></like>
<br>
<br>
<input type="text" [appInputFormat]="'uppercase'">
<br>
<br>
<zippy title="Shipping" >
    Shipping Details
</zippy>
<zippy title="Billing">
    Billing Details 
</zippy>
<zippy title="Address">
    Address Details 
</zippy>
<br>
<br>
<contact-form></contact-form>
<br>
<br>
<course-form></course-form> -->
<!-- <signup-form></signup-form> -->
<!-- <change-password></change-password>
<app-course></app-course> -->
<!-- <app-post></app-post>      -->
<github-followers></github-followers>   
<navbar></navbar> 
<!-- <router-outlet></router-outlet> -->
<!-- <todos></todos>  -->
<zippy title="Shipping" >
    Shipping Details:
    <p>The Shipping Details of the client</p>
</zippy>
<zippy title="Billing">
    Billing Details: 
    <p>The Billing Details of the client</p>
</zippy>
<zippy title="Address">
    Address Details: 
    <p>The Shipping Address of the client</p>
</zippy>
<br>
<datedemo></datedemo>
     